<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type="text" class="input-block-level" placeholder="Email Address">
  <input type="password" class="input-block-level" placeholder="Password">
  <label class="checkbox">Remember me</label>
  <button class="btn btn-large btn-primary" type="submit">Sign In</button>
</form>
