<%- model_class = Book -%>

<div class="page-header">
  <h1><%= @book.title %></h1>
</div>
<p class="lead">List of available chapters :</p>
<table class="table table-striped">
  <% @book.chapters.each do |chapter| %>
    <tr>
      <td><%= chapter.id %></td>
      <td><%= link_to chapter.title, book_chapter_path(chapter) %></td>
    </tr>
  <% end %>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_book_chapter_path(@book),
            :class => 'btn btn-primary' %>

