<h1><%= @chapter.title %></h1>
<table class="table table-striped">
<% @chapter.hadits.each do |hadit| %>
  <tr>
    <td><%= hadit.matan %></td>
  </tr>
<% end %>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_book_chapter_hadit_path(@book, @chapter),
            :class => 'btn btn-primary' %>


